footer{
  background-color:#224b3b;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
/*   display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 50px 50px; */
}

.title{
  text-align: center;
  width: 33.3%;
  color: white;
}
.icons{
  width: 33.3%;
}
.icons i{
  font-size: 20px;
  padding: 5px;
  color: rgb(7, 78, 78);
  color: white;
}
.links{
  display: flex;
  flex-direction: column;
  width: 33.3%;
  text-align: right;
}
.links a{
  color: white;
}
