footer{
  background-color:#192521;
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* .title{
  text-align: center;
  color: white;
}
 */
.leftSide{
text-align: center;
margin-left: 50px;
}
.mainTitle{
  font-family: fansy;
  color: white;
  font-size: 35px;
}
.icons{
  display: flex;
  flex-direction: row;
}
.icons i{
  font-size: 20px;
  padding: 5px;
  color: rgb(237, 103, 20);
}
.links{
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 50px;
}
.links a{
  color: white;
  text-align: center;
}

@media screen and (min-width:760px) {
  footer{
    justify-content:center;
  }
  .leftSide{
    margin-right: 20px;
  }
  .links{
    margin-left: 20px;
  }
}
