
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  background-color: rgb(218, 15, 134);
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  width: 20%;
  height: 20%;
}


.section{
  height: 700px;
  background: url('/assets/bg2.png') no-repeat;
  background-color: rgb(163, 227, 126);
  background-size: cover;
  object-fit: cover;
  overflow: hidden;

}
.myplant{
  background-color: #ffffffdf;
  height: 100%;
  margin: 50px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
}
.datas{
  display: flex;
/*   flex-direction: row; */
  margin: 20px;
/*   background-color: rgb(80, 255, 214); */
}
.left
{
  width: 50%;
  background-color: rgb(185, 80, 255);
}
.right{
  display: flex;
  flex-direction: column;
 /*  background-color: coral; */
  width: 50%;
}
