
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  background-color: rgb(218, 15, 134);
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  width: 20%;
  height: 20%;
}


.section{
  height: 700px;
  background: url('/assets/bg2.png') no-repeat;
  background-color: rgb(163, 227, 126);
  background-size: cover;
  object-fit: cover;
  overflow: hidden;

}
.myplant{
  background-color: #ffffffdf;
  height: 100%;
  margin: 50px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
}
.datas{
  display: flex;
/*   flex-direction: row; */
  margin: 20px;
/*   background-color: rgb(80, 255, 214); */
}
.left
{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  background-color: rgb(185, 80, 255);
}
.leftImg{
  background-color: darkturquoise;
  width: 80%;
}
.leftImg img{
  object-fit: cover;
  background-size: cover;
  width: 100%;

}
.right{
  display: flex;
  flex-direction: column;
 /*  background-color: coral; */
  width: 50%;
}
.watering{
/*   background-color: hotpink; */
  margin: 20px;
}
.holder{
  display: flex;

}
.infoBtn button{
  border: none;
  background: none;
}

.waterBtn button{

  border: 2px solid #81c5f5;
  border-radius: 50%;
  background: #81c5f5;
  width: 80px;
  height: 80px;
  font-size: 25px;

}
.waterBtn button:hover{

  border: 2px solid #3795d9;
  border-radius: 50%;
  background: #3795d9;

}
