
.form{
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  background-color: rgb(218, 15, 134);
  display: flex;
  justify-content: center;
  align-items: center;
}
img{
  width: 20%;
  height: 20%;
}


.section{
  min-height: 700px;
 /*  background: url('/assets/bg2.png') no-repeat; */
  background-color: #25883d7e;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;

}
.sectionHolder{
  display: flex;
  flex-direction: column;
/*   align-items: center; */
  margin: 50px auto;
  width: 90%;
  background-color: #ffffffd2;
  height: 100%;
  border-radius: 10px;
}
.content{
  display: flex;
  margin: 50px;

}

.plantImg{
  width: 30%;
  /* height: 100%; */
  margin-right: 20px;
}

.imgHolder{
  overflow:hidden;
  width: 100%;
  height: 300px;
  }

  .imgHolder img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    border-radius: 5px;
  }

.options
{
  width: 70%;
}
.iconData
{
  display: flex;
  align-items: center;
  background-color: orange;
}
.temp img{
width:100%;
height: 100%;
}
.tempText{
 position: absolute;
 top: 32%;
 font-size: 15px;
 margin-left: 39px;
 transform: translate(-50%, -50%);

}

.watering {
  border: 3px solid #23CED9;
  border-radius: 30px;
}
.watering p{
  text-align: center;
  background: #0b633c;
}

.accordion-item{
border-radius: 30px;
background-color: #aae2a9;
}
.accordion-button{
  background:none;
  color: #0b633c;
  font-weight: 500;
}

@media screen and (max-width:700px){
  .content{
    display: flex;
    flex-direction: column;

  }

  .plantImg{

  }

  .imgHolder{

    width: 250px;
    height: 250px;
    }

    .imgHolder img{

    }

  .options
  {
    width: 100%;
  }

  .tempText{
    top: 67.9%;
   }

}


.addWater{
  margin-left: 50px;
}

.waterBtn button{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #23ced987;
  border: none;
  padding:5px;
  background-clip: content-box;
}
.waterBtn button:hover{
  border: 3px solid #23CED9;
}
.waterBtn button i{
  color: #15BEC9;
  font-size: 25px;
}
.waterBtn button:hover i{
  font-size: 27px;
}

.popover_btn{
display: flex;
}
.popover_btn .popover_content{
  margin-left: 10px;
}
