
<div class="section"  *ngFor="let plant of plants">
  <div class="myplant">
    <app-user-navbar></app-user-navbar>
    <div class="datas">
        <p>{{plant.name}}</p>
        <p>{{plant.description}}</p>
        <p>{{plant.watering}}</p>
        <p>{{plant.temperature}}</p>
        <p>{{plant.light_requirement}}</p>
        <p>{{plant.humidity}}</p>
        <p>{{plant.heat_demand}}</p>
     </div>
  </div>
</div>


<div class="form" *ngIf="newUser">
  <!--   <form (click)="addPlant()" [formGroup]="plantForm"> -->
      <div class="holder">
       <div class="userName">name</div>
       <div class="images" *ngFor="let image of plants">
        <button type="submit"><img [src]='"http://localhost:8000/storage/"+image.imgpath' alt=""></button>
       </div>
      </div>
  <!--   </form> -->
  </div>
