
.navbar {
  padding: 10px;
  z-index: 1;
}

.container-fluid a{
color: #000000;
}
button{
  background-color: #ffffff7c;
}
.navbar-nav a{
  color: #000000;
}

.navbar-nav a:hover{
  font-weight: 700;
  color: #58C39D;
}

#navbarRightSide a:hover {
  font-weight: 700;
  color: #c3ffea;
}

