
.navbar {
  padding: 10px;
  background: none;
  position: absolute;
}
.container-fluid a{
color: #ffffff;
}
button{
  background-color: #ea6929;
}
.navbar-nav a{
  color: #ffffff;
}

.navbar-nav a:hover{
  font-weight: 700;

}

#navbarRightSide a:hover {
  font-weight: 700;

}

