<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#section1">Planty</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#section2">Szolgáltatás</a>
        <a class="nav-link" href="#section3">Rólunk</a>
        <a class="nav-link" href="#section5">Számok</a>
        <a class="nav-link" routerLink="/login">Bejelentkezés</a>
        <a class="nav-link" routerLink="/register">Regisztráció</a>

      </div>
    </div>
  </div>
</nav>
