
<div class="loginPage">
  <form action=""  [formGroup]="loginForm" (click)="login()">
    <div class="container">

      <div class="loginTitle">
        <p>Bejelentkezés</p>
      </div>

      <div class="input mb-3">
        <label for="" class="form-label">Email cím</label>
        <input class="form-control" formControlName="email" type="text">
      </div>

      <div class="input mb-3">
        <label for="" class="form-label">Jelszó</label>
        <input class="form-control" formControlName="password" type="text">
      </div>

      <div class="button text-center">
        <button type="submit" class="btn btn-dark">Bejelentkezés</button>
      </div>

    </div>
  </form>
</div>
