
.section1
{
height: 700px;
background: url('/assets/plant1.jpg') no-repeat;
background-size: cover;
object-fit: cover;
}
.holder{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainTitle{
display: flex;
align-items: center;
}
.mainTitle p{
  font-size: 30vmin;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

/* SECTION 2 */
.section2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;

}

.cardHolder{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:10px;
  width:200px;
  height: 250px;
  border-radius: 5px;
  background: #58af982a;
  /* border: 2px solid #58af98; */

}
.cardImages i{
  font-size: 50px;
  color: #58af98;
}

.serviceTitle{
  text-align: center;
}


/* SECTION 3 */
.section3{
  height: 500px;
  display: flex;
  justify-content: center;
}

.contentHolder{
  width: 80%;
  height: 100%;
/*   background-color: mediumturquoise; */

  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 50px 30px;
}
.contentHolder .image{
overflow: hidden;
}
.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contentHolder .text{
display: flex;
align-items: center;
flex-direction: column;
}
.contentHolder .text p{
  padding-left: 20px;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 15px;
}
.down{
  top: 1480px;
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: right;
  position: absolute;

}
.down p{
  background-color: #58af98;
  text-align: left;
  margin-left: 40%;
 /*  max-width: 400px; */
}

@media (max-width:990px) {
  .contentHolder .text{
    padding-left: 0;
  }
}
@media (max-width:760px) {
  .contentHolder{
    width: 90%;
    grid-template-columns: 1fr;

  }
  .down{
    top: 1380px;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;
    position: absolute;


  }
  .down p{
    background-color: #58af98;
    text-align: left;
    margin-left: 0px;
    width: 70%;
  }
}

/* SECTION 4 */
.section4{
  height: 300px;

}
