<div class="section1" id="section1">
    <app-navbar></app-navbar>
    <div class="holder">
      <div class="mainTitle">
          <p>Planty</p>
      </div>
    </div>

</div>
<!-- <img class="mainImage" src="assets/bg.png" alt=""> --> <!-- opcio 2 -->
<button id="upButton" (click)="topScroll()"><i class="bi bi-chevron-double-up"></i>
</button>

<div class="section2" id="section2">
    <div class="mainTitle2">
        <h2>Szolgáltatásaink</h2>
    </div>

    <div class="cardHolder">

        <div class="cards">
            <div class="cardImages">
              <i class="bi bi-droplet-fill"></i>
            </div>
            <div class="serviceTitle">
              <h4>Lorem</h4>
              <p>Lorem ipsum dolor sit amet.
              </p>
            </div>
        </div>

        <div class="cards">
            <div class="cardImages">
              <i class="bi bi-thermometer-sun"></i>
            </div>
            <div class="serviceTitle">
              <h4>Lorem</h4>
              <p>Lorem ipsum dolor sit amet.
              </p>
            </div>
        </div>

        <div class="cards">
            <div class="cardImages">
              <i class="bi bi-flower1"></i>
            </div>
            <div class="serviceTitle">
              <h4>Lorem</h4>
              <p>Lorem ipsum dolor sit amet.
              </p>
            </div>
        </div>

    </div>
</div>

<div class="section3" id="section3">
    <div class="contentHolder">
        <div class="image">
            <!-- <img src="assets/plant2.jpg" alt="növény"> --> <!-- opcio 2 -->
            <img src="assets/plant11.jpg" alt="növény">
          </div>
        <div class="text">
            <h3 class="main">Lorem ipsum dolor sit.</h3>
            <p>Lorem ipsum dolor sit
              amet consectetur adipisicing elit.
              Consequuntur, esse.</p>
        </div>
        <div class="down">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Asperiores atque totam delectus nihil saepe iusto
             enim voluptas officia debitis velit!</p>
        </div>
    </div>
</div>


<div class="section4" id="section4">
    <div class="timeLine">
        <div class="line"></div>

        <div class="section">
          <div class="circle"></div>
          <div class="titleBox">
            <h2>Értékelés 1</h2>
            <p>Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Alias, veniam deleniti.
              Qui, eligendi architecto laboriosam minima
              corrupti at perspiciatis voluptatum?</p>
          </div>
        </div>

        <div class="section">
          <div class="circle"></div>
          <div class="titleBox">
            <h2>Értékelés 2</h2>
            <p>Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Alias, veniam deleniti.
              Qui, eligendi architecto laboriosam minima
              corrupti at perspiciatis voluptatum?</p>
          </div>
        </div>

        <div class="section">
          <div class="circle"></div>
          <div class="titleBox">
            <h2>Értékelés 3</h2>
            <p>Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Alias, veniam deleniti.
              Qui, eligendi architecto laboriosam minima
              corrupti at perspiciatis voluptatum?</p>
          </div>
        </div>

        <div class="section">
          <div class="circle"></div>
          <div class="titleBox">
            <h2>Értékelés 4</h2>
            <p>Lorem ipsum dolor, sit amet consectetur
              adipisicing elit. Alias, veniam deleniti.
              Qui, eligendi architecto laboriosam minima
              corrupti at perspiciatis voluptatum?</p>
          </div>
        </div>
    </div>
</div>

<div class="section5" id="section5">
  <div class="dataHolder">

    <div class="datas">
        <div class="dataImg">
          <i class="bi bi-person"></i>
        </div>
        <div class="serviceNumbers">
          <h4>Tagok</h4>
        </div>
        <div class="personNum">
          <p>50</p>
        </div>
    </div>

    <div class="datas">
        <div class="dataImg">
          <i class="bi bi-flower1"></i>
        </div>
        <div class="serviceNumbers">
          <h4>Növények</h4>
        </div>
        <div class="plantNum">
          <p>30</p>
        </div>
    </div>

    <div class="datas">
        <div class="dataImg">
          <i class="bi bi-virus"></i>
        </div>
        <div class="serviceNumbers">
          <h4>Fertőzések</h4>
        </div>
        <div class="virusNum">
          <p>100</p>
        </div>
    </div>

</div>
</div>

<app-footer></app-footer>
