<div class="section1">
    <app-navbar></app-navbar>
    <div class="holder">
      <div class="mainTitle">
          <p>Planty</p>
      </div>
    </div>
</div>

<div class="section2" id="section2">
    <div class="mainTitle2">
        <h2>Szolgáltatásaink</h2>
    </div>

    <div class="cardHolder">

        <div class="cards">
            <div class="cardImages">
              <i class="bi bi-droplet-fill"></i>
            </div>
            <div class="serviceTitle">
              <h4>Lorem</h4>
              <p>Lorem ipsum dolor sit amet.
              </p>
            </div>
        </div>

        <div class="cards">
            <div class="cardImages">
              <i class="bi bi-thermometer-sun"></i>
            </div>
            <div class="serviceTitle">
              <h4>Lorem</h4>
              <p>Lorem ipsum dolor sit amet.
              </p>
            </div>
        </div>

        <div class="cards">
            <div class="cardImages">
              <i class="bi bi-flower1"></i>
            </div>
            <div class="serviceTitle">
              <h4>Lorem</h4>
              <p>Lorem ipsum dolor sit amet.
              </p>
            </div>
        </div>

    </div>
</div>

<div class="section3" id="section3">
    <div class="contentHolder">
        <div class="image">
            <img src="assets/plant2.jpg" alt="növény">
        </div>
        <div class="text">
            <h3>Lorem ipsum dolor sit.</h3>
            <p>Lorem ipsum dolor sit
              amet consectetur adipisicing elit.
              Consequuntur, esse.</p>
        </div>
        <div class="down">
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Asperiores atque totam delectus nihil saepe iusto
             enim voluptas officia debitis velit!</p>
        </div>
    </div>
</div>


<div class="section4" id="section4">
    <div class="mainTilte4">
        <h2>Értékelések</h2>
    </div>
</div>



<app-footer></app-footer>
