
.section1
{
height: 700px;
background: url('/assets/plant1.jpg') no-repeat;
background-size: cover;
object-fit: cover;
}
.holder{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainTitle{
display: flex;
align-items: center;
}
.mainTitle p{
  font-size: 30vmin;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

/* SECTION 2 */
.section2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;

}

.cardHolder{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:10px;
  width:200px;
  height: 250px;
  border-radius: 5px;
  background: #58af982a;
  /* border: 2px solid #58af98; */

}
.cardImages i{
  font-size: 50px;
  color: #58af98;
}

.serviceTitle{
  text-align: center;
}
/* SECTION 3 */
.section3{
  height: 500px;

}
/* SECTION 4 */
.section4{
  height: 300px;

}
